//@tailwind base;
//@tailwind components;
//@tailwind utilities;

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'variables';

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@font-face {
  font-family: 'poppinsbold';
  src: url('/fonts/poppins-bold-webfont.eot');
  src: url('/fonts/poppins-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/poppins-bold-webfont.woff2') format('woff2'),
  url('/fonts/poppins-bold-webfont.woff') format('woff'),
  url('/fonts/poppins-bold-webfont.ttf') format('truetype'),
  url('/fonts/poppins-bold-webfont.svg#poppinsbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinslight';
  src: url('/fonts/poppins-light-webfont.eot');
  src: url('/fonts/poppins-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/poppins-light-webfont.woff2') format('woff2'),
  url('/fonts/poppins-light-webfont.woff') format('woff'),
  url('/fonts/poppins-light-webfont.ttf') format('truetype'),
  url('/fonts/poppins-light-webfont.svg#poppinslight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'poppinsmedium';
  src: url('/fonts/poppins-medium-webfont.eot');
  src: url('/fonts/poppins-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/poppins-medium-webfont.woff2') format('woff2'),
  url('/fonts/poppins-medium-webfont.woff') format('woff'),
  url('/fonts/poppins-medium-webfont.ttf') format('truetype'),
  url('/fonts/poppins-medium-webfont.svg#poppinsmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsregular';
  src: url('/fonts/poppins-regular-webfont.eot');
  src: url('/fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/poppins-regular-webfont.woff2') format('woff2'),
  url('/fonts/poppins-regular-webfont.woff') format('woff'),
  url('/fonts/poppins-regular-webfont.ttf') format('truetype'),
  url('/fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'poppinssemibold';
  src: url('/fonts/poppins-semibold-webfont.eot');
  src: url('/fonts/poppins-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/poppins-semibold-webfont.woff2') format('woff2'),
  url('/fonts/poppins-semibold-webfont.woff') format('woff'),
  url('/fonts/poppins-semibold-webfont.ttf') format('truetype'),
  url('/fonts/poppins-semibold-webfont.svg#poppinssemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}

$font-family-poppins: Arial;
$font-family-base: $font-family-poppins !default;

$secondary-colour: #53b68b;
$alert-success-bg: $secondary-colour!default;
$alert-success-text: #fff;

$white: #ffffff;
$green: #a0e7a0;
$primary-colour1: #7D5AFF;
$primary-colour2: #170550;
$primary-colour4: #ddd3ee;
$primary-colour5: #f9f8fc;
$primary-colour6: rgb(0, 188, 212);


$btn-success-bg: $primary-colour1;
$btn-success-border: $primary-colour5;

$navbar-default-bg: $primary-colour1 !default;
$navbar-default-color: #ffffff !default;
$navbar-default-link-color: #fff !default;
$navbar-default-link-hover-color: #fff !default;
$link-hover-color: #fff !default;
$text-color: #000;
$font-size-base: 12px;
$font-size-large: 14px;
$border-radius: 20px;
$font-size-h2: 18px;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/react-tabs/style/react-tabs.scss";

.link {
  cursor: pointer;
}

/** main theme **/

$customPrimaryColour: apply $primary-colour1;

/** end of main them **/


#GDPRForm input[type=checkbox] {
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  padding: 10px;
}


#subscriptionOutOfDate {
  margin-top: 30px;
}

a:hover,
a:focus {
  color: inherit;
}

.borderRight {
  border-right: 1px solid #ccc;
}

.clr {
  clear: both;
}

.overflowHidden {
  overflow: hidden;
}

.left {
  float: left;
}

h3 {
  color: $primary-colour2;
  line-height: 34px;
}

.container2 {
  width: 980px;
  margin: auto;
}

.mainContainer {
  margin-top: 50px;
}

.standOutText {
  color: $secondary-colour;
  font-size: 14px;
}

.warningText {
  color: red;
  font-weight: bold;
}

/** terms and conditions **/

#termsAndConditionsDiv {
  margin-top: 30px;
}

#termsAndConditionsDiv input[type=checkbox] {
  margin-left: 5px;
}

/** end of terms and conditions **/

/** sortable ul **/

#sortableUL {

  list-style: none;
  margin: 0;
  padding: 0
}

#sortableUL li {

  padding: 5px;
  list-style-type: none;
  background: #eee
}

li.placeholder {
  background: rgb(255, 240, 120);
}

li.placeholder:before {
  content: "Drop here";
  color: rgb(225, 210, 90);
}

/** end of sortable ul **/

/** date range calendar **/

.rdr-Calendar {
  width: 300px !important;
}

/** end of date range calendar **/

/** signup **/

#signupForm2 select {
  margin-top: 0 !important;
}

#signupContent {
  background: $primary-colour2;
  font-family: Arial, sans-serif;
}

.signupForm h2 {
  line-height: 30px;
}

.signupForm p {
  font-size: 14px;
}

.signupForm h2 {
  margin-bottom: 30px;
}

.signupForm {
  background: #fff;
  color: #020731;
  padding: 40px;
}

#signupForm label {
  text-transform: uppercase;
}

#signupForm h1 {
  text-transform: uppercase;
}

#signupForm form {
  margin-top: 30px;
}

#signupForm input {
  margin-top: 20px;
}

#signupForm p {
  margin-left: 15px;
  font-size: 14px;
}

#signupForm span {
  color: red;
}

#signupBullet1 {
  background: url(/images/numbers/number1.png) no-repeat;
}

#signupBullet2 {
  background: url(/images/numbers/number2.png) no-repeat;
}

#signupBullet3 {
  background: url(/images/numbers/number3.png) no-repeat;
}

#signupBullet4 {
  background: url(/images/numbers/number4.png) no-repeat;
}

#signupBullet5 {
  background: url(/images/numbers/number5.png) no-repeat;
}

#signupBullet6 {
  background: url(/images/numbers/number6.png) no-repeat;
}

#signupBullet7 {
  background: url(/images/numbers/number7.png) no-repeat;
}

.signupBullet {
  min-height: 32px;
  padding-left: 50px;
  margin-left: 15px;
  margin-bottom: 20px;
}

#otherSpecificInformationTextarea {
  width: 100%;
  min-height: 200px;
}

.signupButton {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  padding: 15px 20px;
  width: 100%;
  margin-top: 50px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFF;
  text-decoration: none;
  background: $secondary-colour;
  font-size: 14px;
  font-family: Arial, sans-serif;
  transition: all 0.5s ease 0s;
}

input[type=checkbox] {
  margin-right: 30px;
}

/** end of signup **/

/** timepicker **/

.timepicker {
  margin-top: -12px;
  margin-left: 120px;
  height: 30px;
  overflow: hidden;
}

/** end of timepicker **/

/** chartist **/

.ct-label {
  height: 20px !important;
  width: 20px !important;
  color: #000 !important;

}

.ct-label.ct-horizontal {

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.ct-series-a .ct-line {
  stroke: #2d1467;
  stroke-width: 5px;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
  stroke: #2d1467!important;
}

/** end of chartist **/

/** forms **/


:disabled {
  background-color: #aaa;
  color: grey;
  border: 1px solid grey;
}

/** end of forms **/

/** payments **/

.stepText {
  font-size: 32px;
}

#paymentDDImage {
  margin-top: 50px;
}

#paymentCCImage {
  margin-top: 50px;
}

.paymentVendorChoice input[type=checkbox] {
  float: left;
}

.paymentVendorChoice img {
  float: left;
  margin: 0 0 40px 0;
}

.subscriptionPackageType {
  border: 1px solid #999;
  height: 450px;
  text-align: center;
  margin: 30px 0;
}

.strikeoutPrice {
  color: #fff !important;
}

.subscriptionPackageType h4 {
  font-size: 24px;
}

.subscriptionPackageType p {
  font-size: 30px;
  color: $secondary-colour;
}

.subscriptionPackageTypeHeader {
  height: 50px;
  color: #fff;
  padding-top: 5px;
  background: $secondary-colour;
}

.subscriptionPackageTypeMidTier {
  margin-top: 30px;
  padding-top: 20px;
  height: 100px;
  margin-bottom: 20px;
}

.subscriptionPackageTypeMidTierRed {
  background: red;
  margin-top: 30px;
  margin-top: 30px;
  height: 100px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.subscriptionPackageTypeImageAnnual {
  margin: auto;
  margin-top: 30px;
  height: 64px;
  width: 64px;
  background: url(/images/yearly.png) no-repeat;
}

.subscriptionPackageTypeImageMonthly {
  margin: auto;
  margin-top: 30px;
  height: 64px;
  width: 64px;
  background: url(/images/monthly.png) no-repeat;
}

.subscriptionPackageTypeCheckbox {
  width: 30px;
  margin: auto;
}

.subscriptionPackageTypeBottomTier {
  height: 100px;
}

/** end of payments **/


/** footer **/

.welcomeMessage {
  color: #000
}

.quickToolbarOption {
  float: left;
  margin-right: 15px;
}

.showHideFilters {
  margin: auto;
  width: 200px;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 50px;
  background: $primary-colour5;
  color: #fff;
  z-index: 2;
  padding: 10px;
}

/** end of footer **/

/** fancy filters toolbar **/

.fancyFiltersToolbar {

  color: '#000';
  bottom: 5px;
  right: 5px;
}

/** end of fancy filters toolbar **/

/** individual message **/

.individualMessageFrom {
  margin: 15px 0;
}

.individualMessageDate {
  margin: 15px 0;
}

.individualMessageContent {
  margin: 15px 0;
}

.individualMessage {
  margin-left: 20px;
}

/** end of individual message **/

/** quick report builder **/

.quickReportBuilder h4 {
  line-height: 25px;
  margin-bottom: 40px;
}

.quickReportBuilderColumn {
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
}

.quickReportBuilderColumnContainer {
  text-align: center;
}

.goFetchDataButton {
  width: 33.33%;
  margin: auto;
}

/** end of quick report builder **/


/** dashboard **/

.blueHeader {
  height: 80px;
  background: #2d1467;
  padding: 5px 10px 10px 0;
  margin-bottom: 20px;
  text-align: center;
}

.blueHeader h4 {
  color: #fff;
}

.blueHeader p {
  color: #fff;
}

/** end of dashboard **/

/** custom session result container **/

.viewMapLink {
  margin-left: 30px;
  text-decoration: none;
  color: #fff;
}

.viewMapLink:hover {
  text-decoration: underline;
}

.customSessionResultContainerInner {
  padding: 8px 8px 8px 20px;
}

.customSessionResultContainerHeader {
  background: $primary-colour2;
  color: #fff;
  padding: 5px 0 0 20px;
}

.organisationName {
  font-size: 16px;
  font-weight: bold;
}

.customSessionResultContainerActions {
  margin-top: 5px;
}

.customSessionResultContainerInner p {
  margin-top: 8px;
}

/** end of custom session result container **/

/** organisation lightbox **/


/** end of organisation lightbox **/

/** tabs **/

.innerTabContent {
  padding-top: 20px;
}

/** end of tabs **/

/* nav */

header {
  float: left;
  width: 100%;
}

nav li a {
  text-shadow: 1px solid #999;
}

nav li a:hover {
  text-shadow: normal;
}

.navContainer {
  color: #fff;
  background-color: $primary-colour2;
  border-radius: 0px;
  position: fixed;
  clear: both;
  z-index: 1101;
  width: 100%;
  display: flex;
  padding-left: 24px;
  max-height: 70px;
  padding-right: 24px;
  top: 0px;
}

.navContainer h3 {
  color: #fff;
}

.menubarWindow a {
  color: #fff;
}

.menuDatepicker {
  color: #fff;
}

.menubarWindow {

  margin-bottom: 20px;
  min-height: 200px;

}

.spacerDiv {
  width: 100%;
  margin-top: 330px;
  height: 1px;
}

.smallSpacerDiv {
  width: 100%;
  margin-top: 50px;
  height: 1px;
}

/** quick links **/

.menuContainer {
  margin: 20px 0 0 0;
}

#quickLinksContainer p {
  line-height: 22px;
}

.quickLinks {
}

/** end of quick links **/

/* standard filters */

select {
  margin-top: 25px;
}

#signupForm select {
  margin-top: 22px;
}

#signupForm input[type=checkbox] {
  margin-top: 32px;
}

/* end of standard filters */

/** fancy filters **/

#fancyFilters {
  margin-top: 40px;
}

#showHideFancyFiltersToggle {
  cursor: pointer;
}

/** end of fancy filters **/

/* filters row */

.filterRow {
  background: $primary-colour1;
  color: $primary-colour2 !important;
  border-radius: $border-radius;
}

/** end of filters row **/

/** advanced filters **/

.advancedFiltersLoadingContainer {
  float: left;
  width: 50px;
  margin: 0 30px 20px 0;
}

.refreshingCountText {
  margin-top: 15px;
}

.matchingResultsCount {
  font-weight: bold;
  font-size: 30px;
}

.advancedFiltersTable th:nth-child(2),
.advancedFiltersTable th:nth-child(3),
.advancedFiltersTable th:nth-child(4) {
  width: 12%;
}

.col1 {
  width: 40%;
}

.col2 {
  width: 10%;
}

.col3 {
  width: 14%;
}

.col4 {
  width: 14%;
}

.col5 {
  width: 14%;
}

/** end of advanced filters **/

/** help **/

.helpIcon {
  cursor: pointer;
  float: left !important;
  margin-left: 15px;
}

/** end of help **/

/* applied filters */

.resultCount {
  margin-left: 20px;
  color: #170550;
}

.greyedOutResultCount {
  margin-left: 20px;
  color: #ccc;
}

.removeFilter {
  height: 16px;
  width: 16px;
  background: url(/ui-images/delete96.png);
  float: left;
}

/* tables */

td {
  font-size: $font-size-base;
  font-weight: normal;
}

.trHidden {
  display: none;
}

td p {
  margin-top: 5px;
}

td {
  word-wrap: break-word;
  word-break: break-word;
}

/* results */

#resultsUpdatingMessage {
  min-height: 100px;
}

.displayOptions {
  margin-top: 45px;
  position: fixed;
}

.resultRow {
  margin-bottom: 60px;
  padding: 0 30px 30px;
}

.resultRow table {
  margin-top: 20px;
}

.resultRow tr
td:nth-child(1) {
  font-weight: bold;
}

.resultTd {
}

.resultTdRight:hover {
  cursor: pointer;
}

#results {
  margin-top: 45px;
}

/* datatable */

.fixedDataTableLayout_header {
  background: #2d1467;
  color: #fff;
}

.fixedDataTableLayout_header a {
  color: #fff;
}

.fixedDataTableLayout_main,
.fixedDataTableLayout_hasBottomBorder,
.fixedDataTableCellLayout_main {
  border-style: none !important
}

.public_fixedDataTableCell_cellContent {
  padding: 5px !important
}

/** end of datatable **/

/* tabs */

.react-tabs [role=tab][aria-selected=true] {
  color: $primary-colour2;
}

/* material icons */

.faveIcon {
  margin-left: 20px;
  float: left;
}

/* maps */

.a2GoogleMap {
  margin-top: 40px;
}

/* exports */

.exportOptions input[type=checkbox] {
  margin-left: 20px;
}

.exportColumnHeader {
  height: 100px;
}

.downloadCSV:hover {
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 200px;
  background: #ccc;
}

.list-item {
  padding: 10px;
  color: #666;
  line-height: 17px;
  position: relative;
}

.SortableListItem-dragging {
  background: #eee;
}


/* grid demo */


.SortableGridItem-dragging .grid-item {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* payment options */

.paymentOption {
  border: 1px solid #999;
  text-align: center;
  padding: 20px;
}

/** end of payment options **/

/* pagination */

.paginationNext {
  float: left;
}

.paginationPrev {
  float: left;
}


/** client types **/

.clientTypes {
  margin-top: 30px;
}

/** end of client types **/

/** device tab **/

.svgImages img {
  float: left;
  margin-right: 30px;
  height: 50px;
}

/** end of device tab **/

/** sortable ul **/

.sortable ul {
  list-style: none;
  margin: 30px 0 0 0;
  padding: 0
}

.sortable li {
  list-style: none;
  clear: both;
  height: 40px;
}

.sortable li p {
  float: left;
  width: 200px;
}

.sortable li.placeholder {
  background: rgb(255, 240, 120);
  line-height: 30px;
  height: 30px;
}

.sortable li.placeholder:before {
  content: "Drop here";
  color: rgb(225, 210, 90);
}

.downloadImg input[type=checkbox] {
  margin-left: 20px;
  float: left;
}

.downloadImg img {
  float: left;
}

.downloadImages {
  margin: 30px 0;
}

/** end of sortable ul **/

/** team member checkbox **/

/** end of team member checkbox **/


/** notifications manager **/

.floatingAvatar {
  margin-right: 20px;
}

.notificationsManager {
  color: #8b0000;
}

/** end of notifications manager **/

/** flash messages **/

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/** end of flash messages **/


/** custom filters **/

.customRows input[type=text] {
  margin-top: 25px;
}

/** end of custom filters **/

/** session result **/

.subtitleText a {
  color: #fff;
}

.adwordsImg {
  margin-left: 20px;
}

.td {
  word-wrap: break-word;
}

.sessionResultBottomRightIcon {
  float: right;
  margin: 10px 10px 10px 0;
}

.cardHeader {
  margin-right: 50px;
}

.hiddenOrganisation {
  color: red;
}

/** end of session result **/

/** user settings **/

.existingAvatar img {
  max-height: 200px;
  max-width: 200px;
}

/** end of user settings **/

/** drawers **/

.mainDrawerClass {
  width: 30%;
}

/** end of drawers **/

/** login form **/

#loginForm {
  background-color: #fff;
  padding: 20px;
}

#loginForm h1 {
  color: #170550;
}

#loginForm label {
  color: #170550;
  font-size: 14px;
}

#loginForm input {
  margin-top: 20px;
}

#submitButton {
  border: none;
  background-color: transparent;
  background-image: url(/images/login.png);
  height: 64px;
  width: 64px;
}

html {
  min-height: 100%;
}

#loginForm a:hover {
  color: #170550;
}

#loginForm span {
  color: red;
}

#loginForm p {
  font-size: 14px;
  color: #fff;
  line-height: 24px;
}

#loginForm ul li {
  color: #fff;
  font-size: 14px;
}

#loginForm ul {
  margin: 0;
  padding: 0 0 0 15px;
}

#loginForm textarea {
  width: 100%;
  height: 200px;
}

/** end of login form **/

/** show / hide divs **/

.hiddenDiv {
  display: none;
}

.visibleDiv {
  display: inline;
}

/** end of show / hide divs **/

/** dropzone container **/

#dropzoneContainer {
  width: 250px;
  height: 250px;
}

/** end of dropzone container **/

/** buttons **/


/** end of buttons **/

/* Portrait and Landscape */
@media only screen and (min-width: 320px) and (max-width: 800px) {

  .noDisplayMobile {
    display: none;
  }
  .spacerDiv {
    width: 100%;
    margin-top: 860px;
    height: 1px;
  }
  .exportOptionsSelection
  label {
    margin-left: 30px;
  }
  .dashboardDiv {
    margin-bottom: 30px;
  }
  .quickToolbarOption {
    margin-right: 0;
  }
  .displayNonMobile {
    display: none;
  }
  .chip {
    width: 100% !important;
  }
  #topLevelNav {
    padding-top: 30px;
    overflow: scroll;
    height: 530px;
  }
  nav ul a {
    padding-left: 0 !important;
  }
  nav > ul li ul {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
  nav ul {
    background: $primary-colour2 !important;
    float: left !important;
    margin-left: -45px;
    right: auto !important;
    width: 480px;
  }
  .companyBreakdown
  label {
    display: none !important;
  }
  .teamMembersSelect
  label {
    width: 100% !important;
  }
  .paginationOptions
  label {
    display: none !important;
  }
  .refreshIndicator {
    margin-bottom: 50px;
  }
  .displayOptions {
    margin-top: 15px !important;
  }
  .exportColumnHeader {
    height: 70px;
  }
  label {
    margin-left: 30px !important;
  }
  .teamMembers label {
    width: 100%;
  }
  #datePreferenceSettings
  label {
    display: none;
  }
  #developerSettings
  label {
    display: none;
  }
  #bottomLoadingStatus {
    display: none;
  }
}

/** progress steps **/

// colors

$incomplete: #bbb !default;
$complete: #65d074 !default;
$active: #337AB7 !default;
$hover: #5671d0 !default;
$step-danger: #d3140f !default;
$step-warning: #edb10a !default;
$step-info: #5b32d6 !default;

// sizing

$bubble-size: 20px !default;
$bubble-line-thickness: 3px !default;
$border-thickness: 1px !default;
$darken-amount: 30% !default;

// misc
$mobile-size: 400px !default;

@mixin bubble-style($color) {
  background-color: $color;
  color: $color;
  border-color: darken($color, $darken-amount);
  &:before,
  &:after {
    background-color: $color;
    border-color: darken($color, $darken-amount);
  }
}

.flexer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.no-flexer {
  display: block;
}

.no-flexer-element {
  -ms-flex: 0;
  -webkit-flex: 0;
  -moz-flex: 0;
  flex: 0;
}

.flexer-element {
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
}

.progress-indicator {
  @extend .flexer;
  margin: 0;
  margin-left: -30px;
  padding: 0;
  font-size: 80%;
  text-transform: uppercase;
  margin-bottom: 1em;

  > li {
    @extend .flexer-element;
    list-style: none;
    text-align: center;
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    text-overflow: ellipsis;
    color: $incomplete;
    display: block;

    &:hover {
      color: darken($incomplete, $darken-amount);
    }
  }

  > li .bubble {
    border-radius: 1000px;
    width: $bubble-size;
    height: $bubble-size;
    background-color: $incomplete;
    display: block;
    margin: 0 auto 0.5em auto;
    border-bottom: $border-thickness solid darken($incomplete, 20%);
  }

  // line connectors

  > li .bubble:before,
  > li .bubble:after {
    display: block;
    position: absolute;
    top: $bubble-size / 2 - $border-thickness;
    width: 100%;
    height: $bubble-line-thickness;
    content: '';
    background-color: $incomplete;
  }

  > li .bubble:before {
    left: 0;
  }

  > li .bubble:after {
    right: 0;
  }

  > li:first-child .bubble:before,
  > li:first-child .bubble:after {
    width: 50%;
    margin-left: 50%;
  }

  > li:last-child .bubble:before,
  > li:last-child .bubble:after {
    width: 50%;
    margin-right: 50%;
  }


  // completed state

  > li.completed {
    color: $complete;

    .bubble {
      @include bubble-style($complete);
    }
  }

  // current state

  > li.active {
    color: $active;

    .bubble {
      @include bubble-style($active);
    }
  }

  // button states

  > li a:hover .bubble {
    @include bubble-style($hover);
  }

  // override states

  > li.danger .bubble {
    @include bubble-style($step-danger);
  }

  > li.warning .bubble {
    @include bubble-style($step-warning);
  }

  > li.info .bubble {
    @include bubble-style($step-info);
  }

  // stacked version

  &.stacked {
    @extend .no-flexer;

    > li {
      text-indent: -10px;
      text-align: center;
      display: block;
    }

    > li .bubble:before,
    > li .bubble:after {
      left: 50%;
      margin-left: -$bubble-line-thickness / 2;
      width: $bubble-line-thickness;
      height: 100%;
    }

    .stacked-text {
      position: relative;
      z-index: 10;
      top: 0;
      margin-left: 60% !important;
      width: 45% !important;
      display: inline-block;
      text-align: left;
      line-height: 1.2em;
    }

    > li a {
      border: none;
    }
  }

  &.stacked.nocenter {
    > li .bubble {
      margin-left: 0;
      margin-right: 0
    }

    > li .bubble:before,
    > li .bubble:after {
      left: $bubble-size / 2;
    }

    .stacked-text {
      width: auto !important;
      display: block;
      margin-left: $bubble-size * 2 !important;
    }
  }
}

@media handheld, screen and (max-width: $mobile-size) {
  .progress-indicator {
    font-size: 60%;
  }
}


/** end of progress steps

/** bootstrap responsive nav no jquery **/


* {
  box-sizing: border-box;
}

header li {
  list-style: none;
}

header {
  padding-top: 10px;
}

.inner {
  margin: 0 auto;
  padding: 0px 20px;
  position: relative;
}

.logo {
  text-decoration: none;
  font-weight: 800;
  font-size: 30px;
  line-height: 40px;
}

h1 {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
}

nav > ul {
  float: right;
}

nav > ul > li {
  text-align: center;
  line-height: 40px;
  margin-left: 30px;
}

nav > ul li ul li {
  width: 100%;
  text-align: left;
}

nav ul li:hover {
  cursor: pointer;
  position: relative;
}

nav ul li:hover > ul {
  display: block;
}

nav ul li:hover > a {
  color: #fff;
}

nav > ul > li > a {
  cursor: pointer;
  display: block;
  outline: none;
  width: 100%;
  padding-left: 15px;
  text-decoration: none;
}

#nav {
  display: none;
}

nav > ul > li {
  float: left;
}

nav a {
  color: white;
}

nav > ul li ul {
  display: none;
  position: absolute;
  left: 0;
  min-width: 300px;
  top: 100%;
  padding-right: 20px;
  padding-left: 15px;
  background: $primary-colour2;
  z-index: 2000;
}

nav > ul li ul li > a {
  text-decoration: none;
}

nav [type="checkbox"] label {
  display: none;
}

@media screen and (max-width: 768px) {

  .displayOptions {
    margin-top: 45px;
    position: relative;
  }


  nav ul {
    display: none;
  }

  .notificationsManager {


    margin-right: 60px;
    float: right;
  }

  label {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 0px;
  }

  label:after {
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    margin: 7px 5px;
    box-shadow: 0px 10px 0px #fff, 0px 20px 0px #fff
  }

  [type="checkbox"]:checked ~ ul {
    display: block;
    z-index: 9999;
    background: #170550;
    position: absolute;
    right: 20px;
  }


  nav ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: left;
  }

  nav > ul > li {
    margin-left: 0px;
  }

  nav > ul li ul li {
    display: block;
    float: none;
  }

  nav > ul li ul {
    display: block;
    position: relative;
    z-index: 9999;
    margin-left: 20px;
    float: none;
  }

  #signupForm label {
    position: relative;
    margin-left: 0;
  }
  #signupForm input, #signupForm select {
    margin-top: 0;
    margin-bottom: 30px;
  }

  #signupForm label > input {
    float: left;
    margin-right: 10px;
  }
  #signupForm label .tableLabel {
    display: table;
    margin-left: 30px;
  }

  #signupForm input[type=checkbox] {

    float: none;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 0;
  }


  #signupForm2 label {
    position: relative;
    margin-left: 0;
  }
  #signupForm2 input, #signupForm2 select {
    margin-top: 0;
    margin-bottom: 30px;
  }

  #signupForm2 label > input {
    float: left;
    margin-right: 10px;
  }
  #signupForm2 label .tableLabel {
    display: table;
    margin-left: 30px;
  }

  #signupForm2 input[type=checkbox] {

    float: none;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  #loginFormMain label {
    position: relative;
    margin-left: 0;
    width: inherit;
  }
  #loginFormMain label::after {
    box-shadow: none !important;
  }


  #captchaContainer {
    margin-top: 0;
  }

  h1 {
    font-size: 26px;
  }
}


/** end of bootstrap nav no jquery **/


/** advanced reporting **/

/** scenerios **/

.scenarioBox .editIcon {
  margin-left: 15px;
  color: green;
}

.scenarioBox .deleteIcon {
  color: red;
  margin-left: 10px;
}

.scenarioBox .closeIcon {
  color: red;
}

.filterSetActions {
  float: right;
  padding-top: 40px;
}

.displayFiltersContainer {

  padding: 10px;
}

.scenarioBox .includeText {
  text-decoration: underline;
}

.scenarioBox {
  float: left;
  margin: 60px 15px 0 0;
  width: 100%;
  border-radius: 25px;
  background-color: #e6f0f2;
  min-height: 600px;
  margin-bottom: 50px;
}

.scenarioHeader {
  border-radius: 25px;
  padding: 20px;
  background: $primary-colour2;
  color: #fff;
}

.ghostScenarioBox {
  @extend .scenarioBox;
  background-color: #ccc;
}

.ghostScenarioHeader {
  @extend .scenarioHeader;
  background: #ccc;
}

#createNewScenario {
  background: url(/images/advancedFilteringNewScenario.png) no-repeat 0 60px;
  width: 128px;
  height: 250px;
  margin: auto;
  text-align: center;
}

.scenarioAndOrDiv {
  float: left;
  margin-bottom: 30px;
  width: 100%;
  margin-right: 15px;
}

.scenarioBox select {
  margin-top: 0px;
  margin-bottom: 15px;
}

.filterSetChoices {
  margin-bottom: 30px;
}

@keyframes changeBackgroundColour {
  0% {
    background: #00cc33;
  }
  100% {
    background: #fff;
  }
}

.displayFilterDiv {

  background: #fff;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #000;
  width: 28%;
  min-height: 250px;
  margin-bottom: 15px;
  margin-left: 20px;
  float: left;
  color: #000;
  word-break: break-word;
  animation: 4s ease-out 0s 1 changeBackgroundColour;
}

.displayFilterDiv.in {
  background: pink;
}

.redX {
  color: red;
  font-weight: bold;
}

.advancedFilterSelectedValues {
  color: $primary-colour2;
}

.andOrDiv {
  text-align: center;
  color: $primary-colour2;
}

#advancedFiltersSpacerDiv {

  width: 100%;
  margin-top: 120px;
  height: 1px;
}

#advancedFiltersTopBar {

  position: fixed;
  z-index: 1;
  width: 100%;
  background: #fff;
  height: 200px;
  margin-top: -45px;
  padding-top: 45px;

}

#advancedFilterActions {

  position: fixed;
}

/** end of scenarios **/

/** end of advanced reporting **/

/** display tags **/

.tags a {

  display: inline-block;
  position: relative;
  height: 13px;
  padding: 0 6px 0 13px;
  margin: 0 6px;
  font: 10px/13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 0 white;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #898989;
  border-radius: 2px;
  border-left-width: 0;
  color: #333;
  background-color: #e0e2e3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(242, 244, 244)), to(rgb(206, 209, 211)));
  background-image: -webkit-linear-gradient(top, rgb(242, 244, 244), rgb(206, 209, 211));
  background-image: -moz-linear-gradient(top, rgb(242, 244, 244), rgb(206, 209, 211));
  background-image: -o-linear-gradient(top, rgb(242, 244, 244), rgb(206, 209, 211));
  background-image: -ms-linear-gradient(top, rgb(242, 244, 244), rgb(206, 209, 211));
  background-image: linear-gradient(top, rgb(242, 244, 244), rgb(206, 209, 211));
}

.tags a:before {
  content: '';
  position: absolute;
  left: -4px;
  top: 1px;
  width: 10px;
  height: 10px;
  border: 1px solid #898989;
  border-radius: 2px;
  border-top-width: 0;
  border-right-width: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #e0e2e3;
  background-image: -webkit-gradient(radial, 100% 100%, 100, -50% -50%, 100, from(rgb(207, 210, 212)), to(rgb(241, 243, 243)));
  background-image: -webkit-radial-gradient(0% 0%, rgb(241, 243, 243), rgb(207, 210, 212));
  background-image: -moz-radial-gradient(0% 0%, rgb(241, 243, 243), rgb(207, 210, 212));
  background-image: -o-radial-gradient(0% 0%, rgb(241, 243, 243), rgb(207, 210, 212));
  background-image: -ms-radial-gradient(0% 0%, rgb(241, 243, 243), rgb(207, 210, 212));
  background-image: radial-gradient(0% 0%, rgb(241, 243, 243), rgb(207, 210, 212));
}

.tags a:after {

  content: '';
  position: absolute;
  left: 4px;
  top: 4px;
  width: 3px;
  height: 3px;
  border: 1px solid #797B7B;
  border-radius: 10px;
  background: #A5A7A9
}

/** end of display tags **/

/** events **/

.eventLabel {
  font-weight: bold;
  color: green;
  margin-right: 10px;
}

/** end of events **/

/** video progress bar **/

$icon-size: 30px;

// $color-hover: saturate(lighten($green, 10%), 20%);
// $color-active: desaturate(darken($green, 20%), 20%);

$color-hover: desaturate(darken($green, 20%), 10%);
$color-active: fade-out($color-hover, 0.5);


//
// Buttons
//

.PlayButton,
.PauseButton,
.PrevButton,
.NextButton,
.SoundOnButton,
.SoundOffButton {
  margin-right: 10px;
  padding: 8px;
  background: $white;
  border: 2px solid $green;
  border-radius: 100%;
  outline: none;

  &[disabled] {
    opacity: 0.5;
  }

  &.isEnabled {
    cursor: pointer;

    &:hover {
      border-color: $color-hover;

      .Icon-shape {
        fill: $color-hover;
      }
    }

    &:active {
      border-color: $color-active;

      .Icon-shape {
        fill: $color-active;
      }
    }
  }
}

.Icon {
  display: block;
  width: $icon-size;
  height: $icon-size;
}

.Icon-shape {
  fill: $green;
}


//
// Sliders
//

.ProgressBar,
.VolumeSlider {
  position: relative;
  background: #eee;
  border-radius: 4px;

  &-elapsed,
  &-value {
    background: $gray;
    border-radius: 4px;
  }

  &-seek {
    position: absolute;
    cursor: pointer;
  }

  &-handle {
    position: absolute;
    width: 16px;
    height: 16px;
    background: $green;
    border-radius: 100%;
    transform: scale(0);
    transition: transform 0.2s;
  }

  &.isSeekable,
  &.isEnabled {
    &:hover {
      .ProgressBar-handle,
      .VolumeSlider-handle {
        transform: scale(1);
      }

      .ProgressBar-intent,
      .VolumeSlider-intent {
        position: absolute;
        background: rgba(0, 0, 0, 0.05);
      }
    }

    .ProgressBar-elapsed,
    .VolumeSlider-value {
      background: $green;
    }
  }
}

.ProgressBar {
  height: 8px;
  margin: 10px 0;

  &-elapsed {
    height: 100%;
  }

  &-seek {
    top: -6px;
    right: 0;
    bottom: -6px;
    left: 0;
  }

  &-handle {
    top: 0;
    margin: -4px 0 0 -8px;
  }

  &.isSeekable {
    &:hover {
      .ProgressBar-handle {
        transform: scale(1);
      }

      .ProgressBar-intent {
        top: 0;
        left: 0;
        height: 100%;
      }
    }
  }

  &.isLoading {
    opacity: 0.5;
    background: #ccc;
    animation: barLoading 2s infinite;
  }
}

.VolumeSlider {
  width: 8px;
  height: 100px;
  // margin: 10px 0;

  &-value {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &-seek {
    left: -6px;
    top: 0;
    right: -6px;
    bottom: 0;
  }

  &-handle {
    left: 0;
    margin: 0 0 -8px -4px;
  }

  &.isEnabled {
    &:hover {
      .VolumeSlider-handle {
        transform: scale(1);
      }

      .VolumeSlider-intent {
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }
  }
}

/** end of video progress bar **/

/** heatmap css **/

.heatmap-canvas {
  z-index: 3
}

.signupContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between
}

.blueBg {
  background: #89cff0
}

#signupInfoGraphic {
  padding: 10px 0;
  color: #fff;
  text-align: center;
}

#signupInfoGraphic span {
  font-family: 'Shrikhand',;
  color: #fff;
  font-size: 42px;
}

#signupInfoGraphic h2 {
  line-height: 54px;
  font-size: 36px
}

#signupInfoGraphic .signupContainer div {
  margin-bottom: 10px;
  font-size: 18px;
  padding: 10px
}

#signupInfoGraphic .signupContainer div:first-child {
  width: 80%
}

#signupPageHeader h1 {
  margin: 0
}

#signupPageHeader {
  margin: 0 0 60px 0
}

#signupInfoGraphic .btn {
  width: 100%;
  padding: 10px 0;
  margin: 20px 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

#signupForm .form-group {
  margin-bottom: 22px
}
